<nav class="navbar navbar-expand-lg bg-white shadow rounded-4">

    <div class="container-fluid">

        <h4 id="pageTitle" class="mb-0 fw-bold"></h4>

        <div class="ms-auto d-flex align-items-center gap-4">

            <i class="bi bi-search fs-5"></i>

            <i class="bi bi-bell fs-5"></i>

            <div class="dropdown">

                <a class="btn btn-light dropdown-toggle"
                    data-bs-toggle="dropdown">

                    <i class="bi bi-person-circle"></i>

                    <span id="username"></span>

                </a>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a class="dropdown-item" href="profile.html">

                            <i class="bi bi-person"></i>

                            Profile

                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="settings.html">

                            <i class="bi bi-gear"></i>

                            Settings

                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>

                        <a class="dropdown-item text-danger"
                            href="#"
                            id="logoutBtn2">

                            <i class="bi bi-box-arrow-right"></i>

                            Logout

                        </a>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</nav>