<div class="sidebar">

    <!-- Logo -->
    <div class="text-center mt-4 mb-4">

        <i class="bi bi-box-seam-fill fs-1 text-primary"></i>

        <h3 class="fw-bold text-white mt-2">
            Microservice
        </h3>

        <small class="text-secondary">
            Admin Panel
        </small>

    </div>

    <hr class="text-secondary">

    <!-- Menü -->

    <a href="dashboard.html" class="menu-item">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="products.html" class="menu-item">
        <i class="bi bi-box-seam"></i>
        Products
    </a>

    <a href="users.html" class="menu-item">
        <i class="bi bi-people"></i>
        Users
    </a>

    <a href="profile.html" class="menu-item">
        <i class="bi bi-person"></i>
        Profile
    </a>

    <a href="settings.html" class="menu-item">
        <i class="bi bi-gear"></i>
        Settings
    </a>

    <hr class="text-secondary">

    <!-- Logout -->

    <a href="#" id="logoutBtn">
        <i class="bi bi-box-arrow-right"></i>
        <span>Logout</span>
    </a>

</div>